[core]
  editor = vim

[color]
  ui = auto

[alias]
  st = status
  br = branch
  last = log -1
  lg = log --graph --decorate --pretty=oneline --abbrev-commit
  logg = log --graph --decorate --pretty=oneline --abbrev-commit --all
  loggg = log --graph --pretty=format:\"%C(auto)%h%d %C(magenta bold)%an %ar%Creset %s\" --all
  co = checkout
  ff = merge --ff-only
  noff = merge --no-ff
  deliver-to-master = !git merge-base --is-ancestor origin/master $1 && git checkout master && git merge --ff-only origin/master && git merge --no-ff $1 && git push && git push origin :$1 && git br -d 
[user]
  name = Jonas Ehrs
  email = jonas.ehrs@gmail.com
[push]
  default = current

[fetch]
  prune = true
