[core]
  editor = vim
	pager = cat

[color]
  ui = auto

[alias]
  st = status
  br = branch
  last = log -1
  lg = log --graph --decorate --pretty=oneline --abbrev-commit
  logg = log --graph --decorate --pretty=oneline --abbrev-commit --all
  loggg = log --graph --pretty=format:\"%C(auto)%h%d %C(magenta bold)%cn %cr%Creset %s\" --all
  pfetch = fetch --prune
	co = checkout
	ffmerge = merge
[user]
	name = Jonas Ehrs
	email = jonas.ehrs@gmail.com
[push]
	default = simple
